@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Chuyển sang font Inter cho gọn gàng, hiện đại */
  background-color: #faf9f5; /* Màu nền kem nhạt giống ảnh */
  color: #1e293b;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}